* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  color: #171A20;
  background-image: url("#{request.contextPath}/resources/images/background2.jpeg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sub-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.checkout-form {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left; /* Center the content within the form */
}

/* Apply style to input labels */
.checkout-form .input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

/* Apply style to input fields */
.checkout-form .input-field {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.checkout-form .btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff004f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for the total box */
.checkout-form .total-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the total label */
.checkout-form .total-label {
  font-weight: bold;
  font-size: 18px;
}

/* Style for the total amount */
.checkout-form .total-amount {
  font-size: 18px;
  color: #ff004f;
}

.checkout-form .btn:hover {
  background-color: #d60041;
}

.checkout-form .btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-form a.btn {
  margin-top: 15px;
  text-align: center;
  background-color: transparent;
  color: #ff004f;
  border: 1px solid #ff004f;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.checkout-form a.btn:hover {
  background-color: #ff004f;
  color: white;
}

.error-message {
  margin-top: 10px;
  color: #ff0000;
  font-weight: bold;
}